@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Primary */
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);

    /* Neutral */
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* weight: 300, 400, 700 */

body {
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
}

/* Navigation */
.navbar {
    width: 100vw;
    padding-top: 20px;
    padding-bottom: 20px;
}

.inside-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
/* Nav elements */
.nav-elements {
    list-style: none;
    display: flex;
    font-size: 14px;
}
a {
    text-decoration: none;
}
.nav-elements a {
    color: var(--grayish-blue);
    margin: 0 10px;
    font-family: 'Public Sans', sans-serif;
}

.btn {
    font-family: 'Public Sans', sans-serif;
    color: var(--white);
    border: none;
    padding: 12px 25px;
    border-radius: 20px;
    font-weight: 700;
    background: linear-gradient(90deg, var(--lime-green), var(--bright-cyan));
}
/* Desktop */
@media screen and (min-width: 900px) {
    .container {
        max-width: 1000px;
    }
}